.App {
  text-align: center;
  margin-top: 100px;
}

.table {
  margin-top: 50px;
}

.row {
  margin-top: 50px;
}

.chart {
  width: 900px;
  margin: auto;
}

td {
  width: 300px;
}

input {
  border: none;
  padding: 5px;
  font-size: 2rem;
  opacity: .8;
  font-weight: 200;
  font-style: italic;
}

button {
  border: none;
  padding: 5px 12px;
  background: slateGrey;
  font-size: 2rem;
  border-radius: 0;
  opacity: .9;
  color: white;
  font-weight: 200;
}

.search {
  margin: auto;
}
